In [20]:
import os
import pandas as pd

In [21]:
def cnt_nan(folder_path):
    cnt = 0
    file_list = os.listdir(folder_path)
    for file_name in file_list:
        if file_name.endswith(".csv"):
            file_path = os.path.join(folder_path, file_name)
            df = pd.read_csv(file_path)
            if df['Adj Close'].isna().sum() > 0:
                print(f'{file_name} has NaN')
                cnt += 1
    return cnt

In [22]:
folder_path = './data/pred/'
cnt = cnt_nan(folder_path)
print(f'Total {cnt} files have NaN')

pred_AULT-PD.csv has NaN
pred_BCV-PA.csv has NaN
Total 2 files have NaN

In [23]:
df = pd.read_csv('./data/pred/pred_AULT-PD.csv')
df

    Unnamed: 0  Adj Close
0            0        NaN
1            1        NaN
2            2        NaN
3            3        NaN
4            4        NaN
5            5        NaN
6            6        NaN
7            7        NaN
8            8        NaN
9            9        NaN
10          10        NaN
11          11        NaN
12          12        NaN
13          13        NaN
14          14        NaN
15          15        NaN
16          16        NaN
17          17        NaN
18          18        NaN
19          19        NaN
20          20        NaN

In [19]:
df = pd.read_csv('./data/train/train_AULT-pd.csv')
df

           Date  Adj Close       Open       High      Low      Close   Volume
0    2022-12-05  13.052361  14.300000  14.300000  14.3000  14.300000    100.0
1    2022-12-06  13.052268  14.140000  14.300000  14.1400  14.299900    712.0
2    2022-12-07        NaN        NaN        NaN      NaN        NaN      NaN
3    2022-12-08  11.774416  13.500000  13.500000  12.8999  12.899900   2586.0
4    2022-12-09  11.747124  13.425000  13.425000  12.8700  12.870000    698.0
..          ...        ...        ...        ...      ...        ...      ...
178  2023-08-22  17.345308  17.520000  18.469999  17.5200  17.860001    938.0
179  2023-08-23  16.510092  17.879999  18.250000  16.2437  17.000000  11372.0
180  2023-08-24  16.874285  17.099300  17.999901  17.0993  17.375000    759.0
181  2023-08-25  16.898565  17.980000  17.999800  17.3750  17.400000   2791.0
182  2023-08-28        NaN        NaN        NaN      NaN        NaN      NaN

[183 rows x 7 columns]